/* heading animation examples  */
.animated-heading {
  animation: fadeInOut 3s linear infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* screensaver examples  */
#screensaver {
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: blue;
}
